<configuration>
  <system.webServer>
    <handlers>
      <add name="Flask" path="*" verb="*" modules="FastCgiModule" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Flask" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="wfastcgi.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
